.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}




.rating1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating1>input {
    display: none
}

.rating1>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating1>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating1>label:hover:before,
.rating1>label:hover~label:before {
    opacity: 1 !important
}

.rating1>input:checked~label:before {
    opacity: 1
}

.rating1:hover>input:checked~label:before {
    opacity: 0.4
}






.rating2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating2>input {
    display: none
}

.rating2>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating2>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating2>label:hover:before,
.rating2>label:hover~label:before {
    opacity: 1 !important
}

.rating2>input:checked~label:before {
    opacity: 1
}

.rating2:hover>input:checked~label:before {
    opacity: 0.4
}








.rating3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating3>input {
    display: none
}

.rating3>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating3>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating3>label:hover:before,
.rating3>label:hover~label:before {
    opacity: 1 !important
}

.rating3>input:checked~label:before {
    opacity: 1
}

.rating3:hover>input:checked~label:before {
    opacity: 0.4
}








